/* imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Bagel Fat One", system-ui; */
    font-family: "Roboto", sans-serif;
}

body {
    background: #080E0F;
    color: #FFFF;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* authentication */

#authentication {
    position: absolute;
    background: #042d18;
    width: 47%;
    padding: 5%;
    border-radius: 16px;
    border: none;
    box-shadow: 0 0 30px rgba(0, 255, 0, 0.8);
    animation: led 5s infinite alternate;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

#authentication.hide {
    opacity: 0;
    transform: translateY(-100px);
}

.header-authentication {
    margin-bottom: 50px;
    text-align: center;
}

.header-authentication h1 {
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bolder;
}

.header-authentication p {
    font-size: 20px;
    font-weight: 200;
}

.form-authenticate {
    display: flex;
    flex-direction: column;
}

.form-authenticate input {
    padding: 3%;
    width: 100%;
    font-size: 23px;
    background: #080E0F;
    border: none;
    outline: none;
    color: #FFFF;
    margin-bottom: 10px;
}

.form-authenticate label {
    margin-bottom: 30px;
    font-size: 13px;
    font-weight: 200;
}

.form-authenticate button {
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #12ab12;
    color: #FFFEFE;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}

.form-authenticate button:hover {
    background-color: #11a111;
}

.form-authenticate button:active {
    background-color: #0f830f;
    color: #b6b6b6;
}

/* message */

#message {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: opacity 0.8s ease-in, transform 0.8s ease-in, visibility 0.8s ease-in;
}

#message.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.message-header,
.background-envelope {
    margin-bottom: 50px;
}

.message-header {
    text-align: center;
}

.background-envelope {
    background-color: #00ff00;
    height: 200px;
    width: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.msg {
    position: absolute;
    top: 0;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    transition: 0.5s;
    z-index: 2;
}

.msg a {
    font-size: 30px;
    margin-top: 30px;
    text-decoration: none;
    color: #080E0F;
}

.envelope {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-top: 100px solid transparent;
    border-left: 150px solid #20a820;
    border-right: 150px solid #0ac00a;
    border-bottom: 100px solid #0ac00a;
    z-index: 3;
}

.lid {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    border-bottom: 100px solid transparent;
    transform-origin: top;
    transition: transform 0.25s linear;
}

/* levels*/
.lid.one {
    border-top: 100px solid #056c05;
    transform: rotateX(0deg);
    transition-delay: 0.75s;
    z-index: 3;
}

.lid.two {
    border-top: 100px solid #00ff00;
    transform: rotateX(90deg);
    transition-delay: 0.5s;
    z-index: 2;
}


.background-envelope:hover .lid.one {
    transform: rotateX(90deg);
    transition-delay: 0s;
}

.background-envelope:hover .lid.two {
    transform: rotateX(180deg);
    transition-delay: 0.25s;
}

.background-envelope:hover .msg {
    transform: translateY(-50px);
    transition-delay: 0.25s;
}

@keyframes led {
    0% {

        box-shadow: 0 0 30px rgba(0, 255, 0, 0.8);
    }

    50% {

        box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    }

    100% {

        box-shadow: 0 0 30px rgba(0, 255, 0, 0.8);
    }
}

/* responsiviti */

@media (max-width: 650px) {
    #authentication {
        width: 80%;
        padding: 4%;
    }

    .header-authentication h1 {
        font-size: 28px;
    }

    .header-authentication p {
        font-size: 14px;
        font-weight: 200;
    }

    .form-authenticate input {
        padding: 3%;
        font-size: 18px;

    }

    .form-authenticate button {
        padding: 15px;
        font-size: 15px;
    }

}

@media (max-width: 450px) {
    .header-authentication h1 {
        font-size: 25px;
    }

    .header-authentication p {
        font-size: 12px;
        font-weight: 200;
    }

}